.wrapper {
  background-color: #fff;
  padding: 40px;
  max-width: 100%;
  min-width: 700px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.16);
}

