.wrapper {
  background-color: #fff;
  padding: 40px;
  max-width: 100%;
  min-width: 700px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.16);
}

.auth_wrapper {
  background-color: #fff;
  padding: 40px;
  min-width: 400px;
  max-width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.16);
}

.cart_wrapper {
  background-color: #fff;
  padding: 0 0 40px;
  min-width: 400px;
  max-width: 90%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.16);
}

.address_wrapper {
  background-color: #fff;
  max-width: 500px;
  padding: 40px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.16);
  overflow: auto;
}

.card_wrapper {
  background-color: #fff;
  width: 500px;
  max-width: 80%;
  padding: 40px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.16);
}

.preview_wrapper {
  text-align: center;
}

.button_group {
  display: flex;
  margin: 20px 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.quantity_price_wrapper {
  display: flex;
  align-items: center;
}

#card_element {
  border-radius: 4px 4px 0 0;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  max-height: 44px;
  width: 100%;
  background: white;
  box-sizing: border-box;
}

@media screen and (max-width: 960px) {
  .wrapper {
    flex-direction: column;
    padding: 40px 40px 40px;
  }

  .detail_wrapper {
    padding: 0 0 30px;
  }

  .button_group {
    flex-direction: column;
    align-items: flex-start;
  }

  .auth_wrapper {
    min-width: 0;
  }

  .cart_wrapper {
    min-width: 0;
  }

  .address_wrapper{
    min-width: 0;
    padding: 20px 20px 10px;
    max-width: 90%;
    max-height: 100%
  }
}
